.whsso-hide {
  display: none;
}

/*(STYLE for <div> that holds the set of tabs)*/
.whsso-tab-button-wrapper {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/*(STYLE for tab button)*/
.whsso-tab-button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.whsso-tab-button:hover {
  background-color: #ddd;
}

/*(STYLE for currently selected tab button, stacks with whsso-tab-button)*/
.whsso-tab-button-active {
  background-color: #ccc;
}

/*(STYLE for a <div> that will contain the full content of one tab)*/
.whsso-tab-content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}